<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright (C) 2014 Markus Grieder
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public
 * License along with this program.  If not, see
 * <http://www.gnu.org/licenses/gpl-3.0.html>. 
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ntsync.android.sync"
    android:versionCode="5"
    android:versionName="1.2.2"
    android:installLocation="internalOnly" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/label"
        android:theme="@style/MyThemeSelector"
        android:requiredAccountType="com.ntsync.android.sync"        
         >

        <!-- The authenticator service -->
        <service
            android:name="com.ntsync.android.sync.authenticator.AuthenticationService"
            android:exported="true"
            tools:ignore="ExportedService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="com.ntsync.android.sync.syncadapter.SyncService"
            android:exported="true"
            tools:ignore="ExportedService" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />
        <service android:name="com.ntsync.android.sync.platform.LocalService" android:exported="false" />
        <service android:name="com.ntsync.android.sync.activities.PaymentVerificationService" android:exported="false" />

        <activity
            android:name="com.ntsync.android.sync.activities.AuthenticatorActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:label="@string/ui_activity_title"
            android:theme="@style/MyThemeDialog" >
        </activity>
        <activity
            android:name="com.ntsync.android.sync.activities.KeyPasswordActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:label="@string/create_pwd_title"
            android:taskAffinity=""
            android:theme="@style/MyThemeDialog" >
        </activity>
        <activity
            android:name="com.ntsync.android.sync.activities.ViewKeyPasswordActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:label="@string/preferences_pwd_title"
            android:parentActivityName="com.ntsync.android.sync.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ntsync.android.sync.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.ntsync.android.sync.activities.SettingsPreferenceActivity"
            android:excludeFromRecents="true"
            android:label="@string/preferences_settings_title" >
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ntsync.android.sync.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.ntsync.android.sync.activities.AboutActivity"
            android:excludeFromRecents="true"
            android:label="@string/preferences_about_title"
            android:parentActivityName="com.ntsync.android.sync.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ntsync.android.sync.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.ntsync.android.sync.activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.ntsync.android.sync.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ntsync.android.sync.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.ntsync.android.sync.activities.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ntsync.android.sync.activities.ImportActivity"
            android:label="@string/import_activity_title"
            android:parentActivityName="com.ntsync.android.sync.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ntsync.android.sync.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.ntsync.android.sync.activities.ShopActivity"
            android:label="@string/shop_activity_title"
            android:parentActivityName="com.ntsync.android.sync.activities.ViewAccountsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ntsync.android.sync.activities.ViewAccountsActivity" />
        </activity>
        <activity
            android:name="com.ntsync.android.sync.activities.ViewAccountsActivity"
            android:label="@string/viewaccounts_activity_title"
            android:parentActivityName="com.ntsync.android.sync.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ntsync.android.sync.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.ntsync.android.sync.activities.ShowLicensesActivity"
            android:label="@string/preferences_licenses_title"
            android:parentActivityName="com.ntsync.android.sync.activities.AboutActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ntsync.android.sync.activities.AboutActivity" />
        </activity>
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />

        <receiver
            android:name="com.ntsync.android.sync.activities.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>